[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "crmn"]
	path = crmn
	url = https://github.com/hredestig/crmn
	subdir = pkg
[submodule "pcaMethods"]
	path = pcaMethods
	url = https://github.com/hredestig/pcamethods
