[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "crmn"]
	path = crmn
	url = https://github.com/hredestig/crmn
	shallow = true
	subdir = pkg
	registered = true
[submodule "pcaMethods"]
	path = pcaMethods
	url = https://github.com/hredestig/pcamethods
	shallow = true
	registered = true
